/* -- navigator -- */

.navt:hover {
    color: gray;
    text-decoration: none;
}

.navt {
    color: white;
}

/* -- button -- */

.btn_faq {
    background-color: white;
    color: #4a4a4a;
    font-size: 22px;
    height: 55px;
    width: 210px;
    opacity: 87%;
}

.btn_faq:hover {
    opacity: 70%;
    color: #4a4a4a;
}



/** -- magazine content -- **/

.img_mag {
    width: 400px;
    object-fit: cover;
}

/* -- button -- */

.btn_mag {
    background-color: #4a4a4a;
    color: white;
    font-size: 22px;
    height: 55px;
}

.btn_mag:hover {
    filter: brightness(150%);
    color: white;
}

/* -- navigator 2 --*/

.img_it {
    width: 240px;
    border-radius: 50%;
}

.ah:hover {
    filter:opacity(80%);
    text-decoration: none;
    color: #9d9d9d;
}

.ah {
    color: black;
}

/* -- slider -- */

.wrapper {

    padding: 3% 4% 2% 1%;
	position: relative;
	
}

.items {
	position: relative;
	overflow-x: hidden;
	white-space: nowrap;
}

.item {
	display: inline-block;
	user-select: none;
	font-size: 20px;
    color: black;
}

.img_mag {
    width: 440px;
    height: 320px;
    object-fit: scale-down;
}

li {
    padding-right: 25.5%;
}

@media screen and (min-width: 500px) {

	.item {
		width: 33%;	
	}
}

@media screen and (min-width: 800px) {

	.item {
		width: 25%;	
	}
}

@media screen and (min-width: 1200px) {
	

	.item {
		width: 20%;	
	}
}

.fl-left {
    left: 60px;
    top: 200px;
}

.fl-right {
    right: 80px;
    top: 200px;
}

.fl-button {
    position: absolute;
    background: #4a4a4a;
    color: white;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

/** -- slider button -- **/

.fl-button:hover {
    background: #4a4a4a;
    cursor: pointer;
}

.fl-button:disabled {
    display: none;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  

/** -- app content --**/

.row_content1 {
    background-image: url("https://lc-imageresizer-live-s.legocdn.com/resize/topslider_llapp?width=1920&imageUrl=https%3a%2f%2fwww.lego.com%2fr%2fwww%2fr%2fportals%2f-%2fmedia%2fimages%2flego-life-2019%2fapp-landingpage%2faugust20remake%2ftopslider_llapp.jpg%3fl.r%3d2137446904");
}

.img_app {
    height: 700px;
    width: 100%;
    margin-top: -27;
    object-fit: cover;
}

/* -- carousel --*/

.carousel .item {
    height: 646px;
}

.item_text {
    padding-top: 180;
    margin-left: -250;
    text-align: center;
}


/* -- carousel button -- */
.btn_caro {
    position: absolute;
    left: 10px;
    bottom: 305px;
    padding: 13px;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    background-color: #4a4a4a;
}

.btn_caro:hover {
    color: #9d9d9d;
}

.caro_left {
    left: 10px;
    bottom: 305px;
}

.caro_right {
    left: 1840px;
    bottom: 305px;
}

/* -- indicator -- */

.carousel-indicators {
    bottom: 5;
}

ol.carousel-indicators li {
    padding: 2.4px;
    background-color: white;
    opacity: 50%;
    border-color: #4a4a4a;
}

ol.carousel-indicators li.active {
    padding: 2.4px;
    background: black;
    opacity: 50%;
  }

