h3 {
    font-size: 32px;
}

p {
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

/* -- navigator -- */

.navt:hover {
    color: gray;
    text-decoration: none;
}

.navt {
    color: white;
}

/* -- button -- */

.btn_faq {
    background-color: white;
    color: #4a4a4a;
    font-size: 22px;
    height: 55px;
    width: 210px;
    opacity: 87%;
}

.btn_faq:hover {
    opacity: 70%;
    color: #4a4a4a;
}

/** -- magazine content -- **/

.img_mag {
    width: 400px;
    object-fit: cover;
}

/* -- button -- */

.btn_mag {
    background-color: #4a4a4a;
    color: white;
    font-size: 18px;
    height: 55px;
}

.btn_mag:hover {
    filter: brightness(150%);
    color: white;
}

/* -- navigator 2 --*/

.it {
    text-align: center;
    width: 120%;
}

.img_it {
    width: 90%;
    border-radius: 50%;
}

.ah:hover {
    filter:opacity(80%);
    text-decoration: none;
    color: #9d9d9d;
}

.ah {
    color: black;
}

/* -- slider -- */

.wrapper {

    padding: 0% 4% 0% 1%;
	position: relative;
	
}

.items {
	position: relative;
	overflow-x: hidden;
	white-space: nowrap;
}

.item {
	display: inline-block;
	user-select: none;
    color: black;
}

.sl-in {
    width: 100%;
}


.img_mag {
    width: 330px;
    height: 320px;
    object-fit: scale-down;
}

.i-text {
    top: -30;
    position: relative;
}

@media screen and (min-width: 1200px) {
	

	.item {
		width: 360px;	
	}
}

/** -- slider button -- **/

.fl-left {
    left: 20px;
    top: 150px;
}

.fl-right {
    right: 65px;
    top: 150px;
}

.fl-button {
    position: absolute;
    background: #4a4a4a;
    color: white;
    font-size: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.fl-button:hover {
    background: #4a4a4a;
    cursor: pointer;
}

.fl-button:disabled {
    display: none;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }